<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test1">
		<parameter name="region"
			value="uk-1"></parameter>
		<classes>
			<class name="com.experitest.bmoPOC1.EriBankTest" />
		</classes>
	</test>
	<test thread-count="5" name="Test2">
		<parameter name="region"
			value="us-1"></parameter>
		<classes>
			<class name="com.experitest.bmoPOC1.EriBankTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
